<h1 class="text-center mt-2">Categories</h1>
<%= will_paginate @categories , class:"flickr_pagination" %>
  <div class="container ">
    <% @categories.each do |category|%>
      <div class="row justify-content-md-center">
      <div class="col-4 mt-3 mb-2">
          <div class="card text-center shadow rounded" >
            <div class="card-body">
              <h5 class="card-title"><%=link_to category.name, category_path(category), class: "text-success text-decoration-none"%></h5>
              <p class="card-text"><%= pluralize(category.articles.count, "article") %></p>
            </div>
            <div class="card-footer text-muted">
              <small>Created <%= time_ago_in_words(category.created_at)%> ago, Edited <%=time_ago_in_words(category.updated_at)%> ago</small>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
<%= will_paginate @categories , class:"flickr_pagination my-2"%>